<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jp.paming.listsample">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".list.ListViewActivity">
        </activity>
        <activity android:name=".list.ListViewWithDataBindingActivity">
        </activity>
        <activity android:name=".recycler.RecyclerActivity">
        </activity>
        <activity android:name=".recycler.RecyclerWithDataBindingActivity">
        </activity>
        <activity android:name=".gallary.PhotoListActivity">
        </activity>
        <activity android:name=".card.SimpleCardViewActivity">
        </activity>
        <activity android:name=".card.PhotoCardActivity">
        </activity>
    </application>

</manifest>